.card-1 {
  border-top: 5px solid #ff4f64;
  height: 250px;
  width: 350px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 20px;
}

.card-2 {
  border-top: 5px solid #00a8e7;
  height: 250px;
  width: 350px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 40px;
}

.card-3 {
  border-top: 5px solid #44c4a1;
  height: 250px;
  width: 350px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 40px;
}

.card-4 {
  border-top: 5px solid #fcc200;
  height: 250px;
  width: 350px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 40px;
}

/* Write CSS code here. */
.image {
  align-self: flex-end;
  height: 100px;
  width: 100px;
}
